@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous");

*,
*:before,
*:after {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  position: relative;
}

a,
li,
.contact {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f9f9f9;
  text-decoration: none;
  background-color: #24252a;
}
body {
  background-image: url("img/paper.jpg");
  background-attachment: fixed;
  text-align: center;
}

/* nav bar */
header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  padding: 30px 10%;
  top: 0;
}
.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #24252a;
}
nav,
ul {
  background-color: #24252a;
}

.genderBtn {
  padding: 9px 25px;
  margin-left: 10px;
  font-size: 15px;
  color: #f9f9f9;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.genderBtn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.contact {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
/* body */

.productsButtons {
  margin: 40px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 20px;
  background-color: rgba(0, 136, 169, 0.8);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f9f9f9;
  transition: all 0.3s ease 0s;
}
.productsButtons:hover {
  background-color: rgba(0, 136, 169, 1);
}

h2 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: #b27092;
  font-size: 60px;
}

.mainDiv {
  border-radius: 10px;
}
.addToCartBtn {
  padding: 7px 25px;
  margin-left: 10px;
  font-size: 15px;
  color: #f9f9f9;
  background-color: #91c7b1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* cart */
.cartElement {
  opacity: 0.9;
  width: 25%;
  padding: 20px;
  margin: 40px;
  margin-right: 40px;
  max-height: 450px;
  overflow-y: scroll;
  float: right;
  position: sticky;
  border-radius: 10px;
  background-color: #91c7b1;
  top: 0;
}
.cart-spans {
  margin: 30px;
}
.checkout {
  padding: 7px 25px;
  margin-left: 10px;
  font-size: 15px;
  color: #f9f9f9;
  background-color: #b27092;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.itemImage {
  width: 70px;
  height: 80px;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}
.itemName {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 200px;
  height: auto;
}

.itemPrice {
  display: inline-block;
  text-align: left;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 80px;
  height: auto;
}
.itemQuantity {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: auto;
  float: left;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #91c7b1;
  background-color: #eee;
}
.remove-item {
  margin-top: -5px;
  padding: 5px;
  text-align: center;
  display: inline;
  color: black;
  background-color: #bee3db;
  border: none;
  border-radius: 2px;
}

.productRows {
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
}
.wrapper {
  width: 62%;
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  transition: all 0.3s ease 0s;
  float: left;
}
.wrapper > div {
  margin-top: 40px;
  background: #eee;
  padding: 1em;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.wrapper > div:nth-child(odd) {
  background: #ddd;
}
.imgElement {
  height: 250px;
  width: 240px;
}
.womenImgElement {
  height: 280px;
  width: 230px;
}

@media (min-width: 1281px) {
  /* Screen - b/w 1025px to 1280px 
  Laptops, Desktops*/
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Screen -b/w 768px to 1024px 
  Tablets, i-Pads*/
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* screen b/w 481px to 767px
  Low resolution tablets, mobiles(landscape) */
}
@media (min-width: 481px) and (max-width: 767px) {
  /* screen - b/w 320px to 479px 
  most of the smartphones mobiles*/
}
@media (min-width: 320px) and (max-width: 480px) {
}

footer {
  opacity: 0.9;
  margin-top: 80px;
  padding: 100px;
  width: 100%;
  display: inline-block;
  background-color: #edede9;
}
